.home_subtitle{
    font-size: 35px;
    margin-bottom: 0;
    margin-left: 20px;
    color: rgb(123, 111, 41);
    font-family: 'Times New Roman', Times, serif;

}

.home_line{
    color: black;
    size: 40;
   
}